<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Sender</th>
      <th scope="col">Receiver</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Total Paid Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of parentTransactions">
      <th scope="row">{{ transaction.id }}</th>
      <td>{{ transaction.sender }}</td>
      <td>{{ transaction.receiver }}</td>
      <td>{{ transaction.totalAmount }}</td>
      <td (click)="childTransactions(transaction.id)" style="cursor:pointer">{{ transaction.totalPaidAmount }}</td>
    </tr>
  </tbody>
</table>
