<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="text-center">
  <header>
    <br>
    <h1>DAOFAB Assignment</h1>
    <br>
  </header>
  <body>
    <!-- The routes are 1. '', to the parent transactions and 2. 'child/:parentId', to the child transactions -->
    <router-outlet></router-outlet>
  </body>
</body>
</html>
